# Ignore these files and directories in version control

# Python files
**/__pycache__/

# VSCode settings
.vscode/*
!.vscode/launch.json

# Ignore local secrets (e.g. Census API key)
.env

# Data (memory-intensive)
data/

# Info (manuals, etc.)
info/

# Scratch notebooks 
## Promote successful approaches to official notebooks and functions in src/ 
notebooks/scratch_*.ipynb