# Ignore these files and directories in version control

# Python files
**/__pycache__/

# VSCode settings
.vscode/*
!.vscode/launch.json

# Data (memory-intensive)
data/

# Scratch notebooks 
## Promote successful approaches to official notebooks and functions in src/ 
notebooks/scratch_*.ipynb