# Ignore these files and directories in version control

# Python files
**/__pycache__/

# VSCode settings
.vscode/*
!.vscode/launch.json

# Ignore local secrets (e.g. Census API key)
.env

# Data (memory-intensive)
data/

# Models (for now)
models/

# Info (manuals, etc.)
info/

# Notebooks for scratch work and for site generation
notebooks/scratch_*.ipynb
notebooks/03_writeup-assets.ipynb

# Jekyll artifacts (site hosting)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata